*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans',sans-serif;
}
html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
}

li{
  list-style: none;
}
/* #f0f4f6 #f0f4f6 #0055ff #678390 #a8b8c0 #ca494a #98d0de */